@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Bold.ttf');
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Rajdhani';
    margin-left: 250px;
}

.form_elements {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: #e14631;
    box-shadow: 0 5px 45px rgb(0 0 0 / 10%);
    transition: 1s;
    width: 500px;
    height: 500px;
    padding: 20px;
}

.form_elements:hover {
    transform: translateY(-20px);
}

.contact_form {
    display: flex;
    flex-direction: column;
}

.contact__form input,
.contact__form textarea,
.contact__form button {
    margin: 0.3rem 0 1rem 0;
    padding: .3rem;
}

.contact__form button {
    font-size: 1.2rem;
}

.span {
    font-size: 28px;
    text-align: center;
    color: #f1f1f1;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 0.1rem;
}

.input {
    border: none;
    background-color: #f1f1f1;
    border: 1px solid #c4c4c4;
    padding: 5px 10px;
    color: #313638;
    outline: none;
    margin-bottom: 2px;
    cursor: pointer;
}

.label {
    font-size: large;
    color: #313638;
    letter-spacing: .1rem;
    padding: 2px;
}

.textarea {
    margin-top: 5px;
    height: 150px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
    cursor: pointer;
}

.button {
    width: 200px;
    border-radius: 10px;
    height: 50px;
    border: none;
    background: #313638;
    color: #f1f1f1;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Rajdhani';
    box-shadow: 5px 5px 15px -8px rgb(0, 0, 0);
}

@media screen and (max-width: 900px) {
    .form_container{
        margin-left: 20px;
        width: 90%;
        left: 20px;
        z-index: -1;
    } 

    .form_elements:hover {
        transform: none;
    }

    .form_elements{
        width: 350px;
    }
}

.button:hover {
    background:#f1f1f1 ;
    color: #313638;
    font-weight: bold;
}

