@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Bold.ttf');
}

.img_container {
    background: url(/bg_home.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    height: 100%;
    background-size: cover;
}

.img_sizer {
    position: fixed;
    top: 74%;
    left: 250px;
    height: 250px;
    width: 100%;
}

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Rajdhani;
    margin-top: 25px;
}

h1 {
    font-size: 72px;
    padding: 0;
    margin: 0;
    color: #e14631;
}

h2 {
    color: #f1f1f1;
}

.big_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px 3% 0px 40%;
}

.bitmoji_container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 5px 10px 10px 10px;
}

.home_bitmoji {
    width: 192px;
    height: 192px;
}

.btn_container{
    margin-left: 250px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.btn {
    font-family: Rajdhani;
    padding: 15px 30px;
    border: 2px solid #e14631;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
}

.btn:hover {
    color: #313638;
}

.btn::before {
    content: '';
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #e14631;
}


@media screen and (max-width: 900px) {
    .home_container {
        margin-left: 0px;
    }

    h1 {
        text-align: center;
    }

    .big_container {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }

    .img_sizer {
        left: 0;
    }

    .btn_container {
        margin-left: 0px;
    }
}

