@font-face {
    font-family: 'FredokaOne';
    src: url('../fonts//FredokaOne-Regular.ttf');
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background: #98A8F8;
    color: #FAF7F0;
    transition: 1s;
    box-shadow:  2px 11px 7px rgba(0,0,0,0.22);
    font-family: 'FredokaOne';
}

.close-nav {
    position: relative;
    left: 85px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    width: 80px;
    cursor: pointer;
    color: #98A8F8;
    height: 60px;
    background: #FAF7F0;
    margin-bottom: 10px;
}

.close-nav:hover {
    background-color: #98A8F8;
    color: #FAF7F0;
}

.nav_arrow_icon {
    width: 40px;
    height: 30px;
}

.active {
    transform: translateX(0%);
}

.floating-btn {
    position: absolute;
    top: 15px;
    left: 35px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background: radial-gradient(circle, rgba(152,168,248,1) 0%, rgba(188,206,248,1) 100%);
    cursor: pointer;
    box-shadow: -2px 3px 20px 5px rgb(0 0 0 / 22%);
}

.home_icon {
    color: white;
    width: 36px;
    height: 36px;
}

a {
    text-decoration: inherit;
    color: inherit;
    font-size: 36px;
    padding: 15px 0px 15px 0px;
    width: 150px;
    text-align: center;
    transition: 1s;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}

a:hover {
    background-color: #f1f1f1;
    color: #98A8F8;
    font-weight: bold;
    border-radius: 10px;
}

.tabs {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    nav {
        transform: translateX(-100%);
    }

    a:nth-child(1) {
        border-top: 1px solid #f1f1f1;
    }
}

.icons {
    position: relative;
    top: 4px;
    right: 5px;
}