nav {
    height: 50px;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    color: white;
}

.liste {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items {
    margin-right: 10px;
    color: #f1f1f1;
    cursor: pointer;
}

.btn {
    display: none;
}

@media screen and (max-width: 500px) {

    nav {
        height: 250px;
    }

    .liste {
        flex-direction: column;
    }

    .items:nth-child(1){
        border-top: 1px solid #fff;
        margin-top: 50px;
    }

    .items {
        height: 50px;
        width: 100px;
        border-bottom: 1px solid #fff;
        line-height: 50px;
        text-align: center;
    }

    .btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #f1f1f1;
        cursor: pointer;
    }
}