@font-face {
    font-family: 'FredokaOne';
    src: url('../fonts//FredokaOne-Regular.ttf');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Bold.ttf');
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background: #e14631;
    color: #FAF7F0;
    transition: 1s;
    box-shadow:  2px 11px 7px rgba(0,0,0,0.22);
    font-family: 'Rajdhani';
}

.close_nav {
    border: none;
    width: 100%;
    cursor: pointer;
    color: #e14631;
    height: 60px;
    background: #313638;
    transition: 1s;
}

.close_nav:hover {
    background-color: #313638;
    color: #FAF7F0;
}

.nav_arrow_icon {
    width: 40px;
    height: 30px;
}

.active {
    transform: translateX(0%);
}

.floating_btn{
    position: absolute;
    top: 15px;
    left: 35px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background: #e14631;
    cursor: pointer;
    box-shadow: -2px 3px 20px 5px rgb(0 0 0 / 22%);
    transition: 1s;
}

.floating_btn:hover  {
    background-color: #f1f1f1;
}

.floating_btn:hover .home_icon{
    color: #e14631;
}

.home_icon {
    color: white;
    width: 36px;
    height: 36px;
}

.a {
    text-decoration: inherit;
    color: inherit;
    font-size: 36px;
    padding: 15px 0px 15px 0px;
    width: 150px;
    text-align: center;
    transition: 1s;
    width: 250px;
    border-bottom: 1px solid #f1f1f1;
}

.a:hover {
    background-color: #f1f1f1;
    color: #e14631;
    font-weight: bold;
}

.border {
    margin: 0;
}

.tabs {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    nav {
        transform: translateX(-100%);
    }

    .a:nth-child(1) {
        border-top: 1px solid #f1f1f1;
    }

}

.icons {
    position: relative;
    top: 4px;
    right: 5px;
}

/** Langages **/


.logo {
    background: linear-gradient(90deg, rgba(19,56,249,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 59%, rgba(255,0,0,1) 100%); 
    cursor: pointer;
    color: #98A8F8;
    width: 50px;
    height: 50px;
}

.social_network {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}

.twitter_logo {
    color: white;
    padding: 10px;
    font-size: 24px;
}

