nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background: linear-gradient(153deg, rgba(188,206,248,1) 0%, rgba(188,206,248,1) 100%);
    color: #FAF7F0;
    transition: 1s;
}

.active {
    transform: translateX(0%);
}

.floating-btn {
    position: absolute;
    top: 15px;
    left: 35px;
    border-radius: 50%;
    background: #f1f1f1;
    cursor: pointer;
}

a {
    text-decoration: inherit;
    color: inherit;
    font-size: 36px;
    margin-bottom: 15px;
}

a:nth-child(1) {
    margin-top: 15px;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px) {
    nav {
        transform: translateX(-100%);
    }
}